.dark {
  color: grey;
}
.bright {
  color: white;
}
.green {
  color: #00D015;
}
.interface {
  background: url(Images/unknown.svg) center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.interface__container {
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.shop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 30vmax;
  grid-gap: 7px;
}
.shop__preview {
  background: linear-gradient(180deg, #191E24 0%, #232529 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}
.shop__preview-tittle {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.shop__preview-circle {
  width: 120px;
  height: 120px;
  margin-top: 60px;
  border: 2px solid #00D015;
  border-radius: 50%;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}
.shop__preview-box {
  width: 100%;
  height: 70px;
  margin: 30px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(89.74deg, #1F6614 0.25%, rgba(9, 125, 35, 0) 94.98%);
  border-left: 5px solid #00D015;
  padding: 10px;
  font-size: 0.9rem;
}
.shop__preview-box-top {
  display: flex;
  justify-content: space-between;
}
.shop__preview-notes {
  width: 100%;
  padding: 20px;
  border-top: 1px solid ;
  font-size: 0.9rem;
}
.shop__list {
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
}
.shop__list-tools {
  width: 6%;
  background: linear-gradient(66.89deg, #1A1A20 -24.78%, rgba(46, 48, 64, 0.61) 122.87%);
  opacity: 0.9;
  margin-right: 5px;
}
.shop__list-tools-item {
  height: 6%;
  border-bottom: 1px solid grey;
  background: linear-gradient(66.89deg, rgba(137, 164, 197, 0.15) -24.78%, rgba(153, 164, 176, 0) 122.87%);
  opacity: 0.9;
  backdrop-filter: blur(25px);
}
.shop__list-tools-item:nth-child(1) {
  border-top: 1px solid grey;
}
.shop__list-tools-item:last-child {
  border-left: 1px solid grey;
}
.shop__list-goods {
  width: 100%;
  height: 400px;
  overflow-y: hidden;
}
.shop__list-goods-tittle {
  padding: 10px;
}
.shop__list-goods-menu {
  min-height: 365px;
}
.shop__list-goods-menu-item {
  margin-bottom: 5px;
  background: linear-gradient(66.89deg, #1A1A20 -24.78%, rgba(46, 48, 64, 0.61) 122.87%);
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.shop__info {
  background: linear-gradient(180deg, #191E24 0%, #232529 100%);
}
.shop__info-item {
  font-size: 0.8rem;
  color: white;
}
.shop__info-item-head {
  padding: 4px;
  background: linear-gradient(89.74deg, #1F6614 0.25%, rgba(9, 125, 35, 0) 94.98%);
  border-left: 5px solid #00D015;
}
.shop__info-item-desk {
  padding: 25px 33px 25px 13px;
}
.shop__info-item-desk-string {
  list-style: none;
  background: url(Images/mark.png) no-repeat left 50%;
  padding-left: 25px;
  display: flex;
  margin-bottom: 10px;
}
.shop__info-item-desk-string:last-child {
  padding-top: 25px;
}
.shop__info-item-desk-string-counter {
  display: flex;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 43%;
  margin-top: 20px;
}
.buttons__item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 5px 10px;
  min-width: 30%;
  color: white;
  background: linear-gradient(180deg, #191E24 0%, #232529 100%);
}
.buttons__item-icon {
  display: flex;
  margin-right: 10px;
}
.buttons__item-icon-inner {
  text-transform: uppercase;
  color: #00D015;
  font-size: 0.8rem;
  text-align: center;
  margin: 3px 5px 0;
}
.buttons__item-icon-image {
  margin: 0 5px;
}
.buttons__item-text {
  margin: 0 auto;
}
.buttons__item:last-child {
  padding-left: 2px;
}
@media screen and (min-width: 1920px) {
  body {
    font-size: 1.25rem;
  }
  .shop__preview-box {
    font-size: 1rem;
    height: 100px;
  }
  .shop__preview-notes {
    font-size: 1rem;
  }
  .buttons {
    width: 50%;
  }
  .buttons__item-icon-inner {
    font-size: 1rem;
    margin-top: 5px;
  }
  .buttons__item-text {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 2200px) {
  body {
    font-size: 1.5rem;
  }
  .interface__container {
    max-width: 2000px;
  }
  .shop__preview-circle {
    width: 160px;
    height: 160px;
    margin-top: 80px;
  }
  .shop__preview-box {
    font-size: 1.25rem;
    margin: 50px 0 30px;
  }
  .shop__preview-notes {
    font-size: 1.25rem;
    padding-top: 30px;
  }
  .buttons {
    width: 50%;
  }
  .buttons__item-text {
    font-size: 1.5rem;
  }
  .buttons__item-icon-image {
    margin: 0 5px;
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 3000px) {
  body {
    font-size: 2rem;
  }
  .interface__container {
    max-width: 2500px;
  }
  .shop__preview-circle {
    width: 200px;
    height: 200px;
    margin-top: 100px;
  }
  .shop__preview-box {
    font-size: 1.5rem;
    margin: 70px 0 40px;
    height: 120px;
  }
  .shop__preview-notes {
    font-size: 1.5rem;
    padding-top: 40px;
  }
  .buttons__item-icon-inner {
    font-size: 1.5rem;
    margin-top: 5px;
  }
  .buttons__item-icon-image {
    margin: 5px 5px;
    width: 25px;
    height: 25px;
  }
}
