html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
}
input,
textarea {
  outline: none;
}
textarea {
  resize: none;
}
/*HTML5 display-role reset for older browsers*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
.interface {
  background-image: url(Images/unknown.svg);
  height: 100vh;
}
.interface__container {
  width: 60vmax;
  margin: auto;
  position: relative;
  top: 20%;
}
.shop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 30vmax;
  grid-gap: 7px;
}
.shop__preview {
  background: linear-gradient(180deg, #191E24 0%, #232529 100%);
}
.shop__list {
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
}
.shop__list-tools {
  width: 6%;
  background: linear-gradient(66.89deg, #1A1A20 -24.78%, rgba(46, 48, 64, 0.61) 122.87%);
  opacity: 0.9;
  margin-right: 5px;
}
.shop__list-tools-item {
  height: 6%;
  border-bottom: 1px solid grey;
  background: linear-gradient(66.89deg, rgba(137, 164, 197, 0.15) -24.78%, rgba(153, 164, 176, 0) 122.87%);
  opacity: 0.9;
  backdrop-filter: blur(25px);
}
.shop__list-tools-item:nth-child(1) {
  border-top: 1px solid grey;
}
.shop__list-tools-item:last-child {
  border-left: 1px solid grey;
}
.shop__list-goods {
  width: 100%;
}
.shop__list-goods-tittle {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  max-width: 200px;
}
.shop__list-goods-menu {
  overflow: hidden;
}
.shop__list-goods-menu-item {
  margin-bottom: 5px;
  background: linear-gradient(66.89deg, #1A1A20 -24.78%, rgba(46, 48, 64, 0.61) 122.87%);
}
.shop__info {
  background: linear-gradient(180deg, #191E24 0%, #232529 100%);
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 43.8%;
  margin-top: 20px;
}
.buttons__item {
  margin-right: 20px;
  width: 29%;
  padding: 4px;
  height: 10px;
  background: linear-gradient(180deg, #191E24 0%, #232529 100%);
}
